<VirtualHost *:{{ wp_port }}>

   ServerAdmin webmaster@localhost
   ServerName {{ wp_host }}
   ServerAlias www.{{ wp_host }}
   DocumentRoot /var/www/{{ wp_host }}/wordpress
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

   <Directory /var/www/{{ wp_host }}>
         Options -Indexes
   </Directory>

   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
   </IfModule>

</VirtualHost>