server {
    listen 80;
    server_name {{ hostvars['nginx_wpuploads']['ansible_host'] }};

    location / {
        root /var/www/wp;
    }

    location /uploads/ {
        autoindex on;
        root /var/www/wp;
    }
}
