---
global:
  scrape_interval: 15s

rule_files:
  - rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - "{{ hostvars['prometheus']['public_host'] }}:9093"

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      # Switch targets to the ones you want to monitor, also make sure node_exporter is installed on them.
      - targets: ["{{ hostvars['prometheus']['public_host'] }}:9090"] # this should be the monitor service
  - job_name: "node_exporter"
    scrape_interval: 5s
    static_configs:
      # Switch targets to the ones you want to monitor, also make sure node_exporter is installed on them.
      - targets: [
        {% for host in groups['monitor'] %}
          {{ hostvars[host]['ansible_host'] }}:9100,
        {% endfor %}
      ]