# BEGIN WordPress

RewriteRule ^(wp-content/.*)$ {{ hostvars['nginx_wpuploads']['public_host'] }} [R=301,QSA,L]

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress