upstream backend {
        {% for host in groups['wordpress'] %}
          "server {{ hostvars[host]['ansible_host'] }}:80 max_fails=3 fail_timeout=30s;",
        {% endfor %}
}

server {
        listen 80;
        listen [::]:80 ipv6only=on;

        server_name "{{ hostvars['nginx']['public_host'] }}";

        location / {
                proxy_pass http://backend;
        }

        location /wp-content {
                root /var/www/wp;
        } 
}

